/* main navigation */
#main-nav{
    background-color: #0d0c0b !important;
    text-align: center
}

#main-nav .navbar-nav {
    width: 100%;
}

#main-nav .nav-link{
    color: #fff;
}



/* play and logo */
.play{
    background-image: url("../images/bg-one.jpg");
    min-height: 100vh;
    background-position: top;
    background-size: cover;
    position: relative;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.play-btn{
    width: 100%;
    text-align: center;
}

.play-btn-img{
    display: inline-block;
    margin-top: 30%;
}

@media only screen and (max-width: 768px) {
    
    .play{
        background-image: url("../images/bg-one-small.jpg");
        min-height: 430px;
    }
    
}

@media only screen and (max-width: 986px) {
    
    .play-btn-img{
        margin-top: 33%;
        max-width: 300px;
    }
    
}